@import '../../../../../sass/global.scss';

.preview-pub {
  height: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &__image {
    // 371 x 278 px
    width: 100%;
    // width: 30rem !important;
    height: 100%;
    // height: 20rem;
    margin: 0 !important;
    object-fit: cover;
  }
}
