@import '../../../../../sass/global.scss';

.preview-pub {
  height: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &__image {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    object-fit: cover;
  }
}
