@import '../../../../../sass/global.scss';

.sign-in-form-title {
  font-size: 17px !important;
  text-align: center;
  margin-bottom: 20px;
}

.sign-in-form {
  input {
    padding: 13px 15px !important;
    background-color: #f9f9f9 !important;
  }
}
