@import '../../scss/index.scss';

.header {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  padding: 12px 0;
  background-color: $background-light;
  z-index: 1;

  &__logo {
    display: flex !important;
    align-items: center;

    img {
      height: 25px;
    }
  }
}

@media screen and (max-width: 988px) {
  .mobile-center_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-header > * {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
